<div class="footer">
  <div class="footer_wrapper footer_wrapper-1">
    <img src="../img/image1.png" alt="" class="wrapper_logo-footer" />
    <div class="wrapper_license-footer">
      Copyright © 2022. Усі права захищено.
    </div>
  </div>
  <div class="footer_wrapper footer_wrapper-2">
    <img
      src="../img/image5.png"
      alt=""
      class="wrapper_socialmedia-footer wrapper_socialmedia-footer-1"
    /><img
      src="../img/image7.png"
      alt=""
      class="wrapper_socialmedia-footer wrapper_socialmedia-footer-2"
    /><img
      src="../img/image2.png"
      alt=""
      class="wrapper_socialmedia-footer wrapper_socialmedia-footer-3"
    /><img
      src="../img/image6.png"
      alt=""
      class="wrapper_socialmedia-footer wrapper_socialmedia-footer-4"
    /><img
      src="../img/image4.png"
      alt=""
      class="wrapper_socialmedia-footer wrapper_socialmedia-footer-5"
    /><img
      src="../img/image3.png    "
      alt=""
      class="wrapper_socialmedia-footer wrapper_socialmedia-footer-6"
    />
  </div>
</div>