<div class="container_close"></div>
<div class="side_bar">
    <div class="bar_wrapper">
        <div class="wrapper_account">
            <div class="account_me">
                <div class="me_avatar"></div>
                <div class="me_name">Процюк Владислав</div>
            </div>
            <div class="account_personaloffice">
                <div class="personaloffice_image"></div>
                <a class="personaloffice_title">Особистий кабінет</a>
            </div>
        </div>
        <div class="wrapper_other">
            <div class="other_sugetions">
                <div class="sugetions_image"></div>
                <a class="sugetions_text">Пропозиції</a>
            </div>
            <div class="other_lessons">
                <div class="lessons_image"></div>
                <a href="{{#if stop_link_lessons}}/dairy/{{else}}#{{/if}}" class="lessons_text">Уроки</a>
            </div>
            <div class="other_news">
                <div class="news_image"></div>
                <a class="news_text">Новини</a>
            </div>
            <div class="other_studymaterial">
                <div class="studymaterial_image"></div>
                <a class="studymaterial_text">Навчальний матеріал</a>
            </div>
            <div class="other_chat">
                <div class="chat_image"></div>
                <a href="{{#if stop_link_chat}}/chat/{{else}}#{{/if}}" class="chat_text">Чат з куратором</a>
            </div>
            <div class="other_shop">
                <div class="shop_image"></div>
                <a class="shop_text">Магазин бонусів</a>
            </div>
        </div>
        <div class="wrapper_settings">
            <div class="settings_setting">
                <div class="setting_image"></div>
                <a class="setting_text">Налаштування</a>
            </div>
            <div class="settings_quit">
                <div class="quit_image"></div>
                <a class="quit_text">Вийти</a>
            </div>
        </div>
    </div>
</div>