<div class="container_close"></div>
<div class="side_bar">
    <div class="bar_wrapper">
        <div class="wrapper_account">
            <div class="account_me">
                <div class="me_avatar"></div>
                <div class="me_name">Процюк Владислав</div>
            </div>
            <div class="account_personaloffice">
                <div class="personaloffice_image"></div>
                <div class="personaloffice_title">Особистий кабінет</div>
            </div>
        </div>
        <div class="wrapper_other">
            <div class="other_sugetions">
                <div class="sugetions_image"></div>
                <div class="sugetions_text">Пропозиції</div>
            </div>
            <div class="other_lessons">
                <div class="lessons_image"></div>
                <div class="lessons_text">Уроки</div>
            </div>
            <div class="other_news">
                <div class="news_image"></div>
                <div class="news_text">Новини</div>
            </div>
            <div class="other_studymaterial">
                <div class="studymaterial_image"></div>
                <div class="studymaterial_text">Навчальний матеріал</div>
            </div>
            <div class="other_chat">
                <div class="chat_image"></div>
                <div class="chat_text">Чат з куратором</div>
            </div>
            <div class="other_shop">
                <div class="shop_image"></div>
                <div class="shop_text">Магазин бонусів</div>
            </div>
        </div>
        <div class="wrapper_settings">
            <div class="settings_setting">
                <div class="setting_image"></div>
                <div class="setting_text">Налаштування</div>
            </div>
            <div class="settings_quit">
                <div class="quit_image"></div>
                <div class="quit_text">Вийти</div>
            </div>
        </div>
    </div>
</div>