<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../css/normalize.css">
     <link rel="stylesheet" href="../css/style.css">
     <link rel="stylesheet" href="../css/chat.css">
     <title>Document</title>
</head>

<body>
     <div class="container">
          <div class="container_chat">
               <div class="chat_title">
                    <div class="title_name">Андрій Володимирович</div>
                    <div class="title_search"><i class="fa-solid fa-magnifying-glass"></i></div>
               </div>
               <div class="chat_messages">
                    <div class="message_files">
                         <div class="files_file">
                              <div class="file_title">
                                   <div class="title_text"></div>
                                   <div class="title_close">
                                        <div class="close_tick"></div>
                                   </div>
                              </div>
                              <div class="file_content">
                                   <img src="../img/image28.png" class="content_image">
                              </div>
                         </div>
                         <div class="files_file">
                              <div class="file_title">
                                   <div class="title_text"></div>
                                   <div class="title_close">
                                        <div class="close_tick"></div>
                                   </div>
                              </div>
                              <div class="file_content">
                                   <img src="../img/image28.png" class="content_image">
                              </div>
                         </div>
                         <div class="files_file">
                              <div class="file_title">
                                   <div class="title_text"></div>
                                   <div class="title_close">
                                        <div class="close_tick"></div>
                                   </div>
                              </div>
                              <div class="file_content">
                                   <img src="../img/image28.png" class="content_image">
                              </div>
                         </div>
                         <div class="files_file">
                              <div class="file_title">
                                   <div class="title_text"></div>
                                   <div class="title_close">
                                        <div class="close_tick"></div>
                                   </div>
                              </div>
                              <div class="file_content">
                                   <img src="../img/image28.png" class="content_image">
                              </div>
                         </div>
                    </div>
                    <div class="message_drag" ondrop="drop(event)" ondragover="allowDrop(event)">
                         <div class="drag_wrapper">
                              <div class="drag_image"></div>
                              <div class="drag_text">
                                   Drop here
                              </div>
                         </div>

                    </div>
                    <div class="messages_line">
                         <div class="line_text">
                              <div class="text_images">
                                   <div class="images_image"></div>
                              </div>
                              <div class="text_top">Hello</div>
                              <div class="text_bottom">14:20</div>
                         </div>
                         <div class="line_avatar"></div>
                    </div>

               </div>
               <form class="chat_type">
                    <label for="addfile_input" class="type_addfile">
                         <i class="fa-solid fa-paperclip"></i>
                    </label>
                    <input type="file" hidden name="file" multiple id="addfile_input">
                    <div class="type_write">
                         <textarea placeholder="Введіть своє повідомлення" rows="1" class="write_message"></textarea>
                    </div>
                    <div class="type_emoji"><i class="fa-solid fa-icons"></i></div>
                    <button type="submit" class="type_send"><i class="fa-solid fa-paper-plane"></i></button>
               </form>
          </div>
          {{>footer}}
     </div>
     {{>side_bar}}
     <script src="https://kit.fontawesome.com/06d02fe3c8.js" crossorigin="anonymous"></script>
     <script src="../js/socket.io.js"></script>
     <script src="../js/chat.js"></script>
     <script src="../js/side_bar-v2.js"></script>
</body>

</html>