<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/chat.css">
    <title>Контакти</title>
</head>

<body>
    <div class="container">
        <div class="container_content">

        </div>
        {{>footer}}
    </div>
    {{#if permission}}
    {{>side_bar_teacher}}
    {{else}}
    {{>side_bar}}
    {{/if}}
    <script src="https://kit.fontawesome.com/06d02fe3c8.js" crossorigin="anonymous"></script>
    <script src="../js/socket.io.js"></script>
    <script src="../js/chat.js"></script>
    <script src="../js/side_bar-v2.js"></script>
</body>

</html>